<h2 class="text-center">{{player.name}}</h2>
<div class="container">
    <div class="image">
        <img src="/assets/Profile%20pics/{{player.name}}.jpg">
    </div>
    <div class="details">

        <div>
            <label> <b>Team Name: </b> </label> {{player.team}}
        </div>
        <div>
            <label> <b>Position: </b> </label> {{player.position}}
        </div>
        <div>
            <label> <b>Height in cm: </b> </label> {{player.height}}
        </div>
        <div>
            <label> <b>Age: </b> </label> {{player.age}}
        </div>
    </div>
</div>